.dropdown {
    position: relative;
    display: inline-block;
    user-select: none;
}

.dropdown-toggle .fa-caret-right {
    transition: all 0.125s linear;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: #353535;
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    border-radius: 0;
    transform: translateY(-10px); /* add this */
    transition: opacity 0.3s, transform 0.3s; /* add this */
}



.dropdown-content a {
    padding: 5px 10px;
    display: block;
    /* font-size: large; */
    transition: all 0.125s linear;
    text-align: center;
    cursor: pointer;
}



.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* add this */
}

.dropdown:hover .dropdown-toggle .fa-caret-right {
    transform: rotate(90deg);
}