:root {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    color: whitesmoke;
    background-color: #2e2e2e;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
}

header ul {
    padding: 0;
    margin: 0;
}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

.box {
    background-color: #353535;
    padding: 2px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}


.box a {
    color: whitesmoke;
    text-decoration: none;
}

.box:hover,
.box a:hover {
    background-color: lightblue;
    color: black;
}

main {
    width: 100%;
    height: 100%;
}
footer {
    height: 20px;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
footer a {
    text-decoration: none;
    color: whitesmoke;
}
footer a:hover {
    color: lightblue;
}
footer div :nth-child(2) {
    text-align: right;
}
.status {
    margin-left: 10px;
    font-family: monospace;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
th {
    background-color: gray;
    color: black;
}
td {
    background-color: white;
}
